body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
  margin: 0; /* Elimina el margen por defecto del body */

}
main {
  font-family: Arial, sans-serif;
  padding: 50px;  
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow:  4px 4px 4px 4px rgb(92, 90, 90);
  height: 80vh;
}
  
  .section_date {
    margin-top: -30px;
    text-align: center;
    
    
  }

  .date-item {
    margin-bottom: 5px;  
    font-size: 1.8rem;  
    line-height: 1.2;  
    font-weight: bold;
    text-align: center;
}
  .fecha {
    color: var(--white);
    padding: 50px;
    border-radius: 8px;
    box-shadow:  4px 4px 4px 4px rgb(92, 90, 90);
    background-color: var(--blue1);
    height: 35vh;
  }
  
  .date-item span {
    margin: 10px 0;
    font-weight: bold;
    margin-top: -20px;
  }

