@import url('./base/base.css');
@import url('./base/normalize.css');

.alert {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}