:root {
  --blue0: rgb(1, 39, 91);
  --blue1: #0067C2;
  --blue2: #1D95FF;
  --blue3: #4AAAFF;
  --blue4: #78BFFF;
  --blue5: #A5D5FF;
  --yellow0: #AEAE06;
  --yellow1: #D9DA08;
  --yellow2: #FAFA6E;
  --yellow3: #FBFB92;
  --yellow4: #FCFCA4;
  --yellow5: #FCFCB7;
  --white: #ffffff;
  --gray: #9F9F9F;
  --black: #1E1E1E;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 2.4rem;
}